.bn-container[data-theming-css-demo]
	.bn-suggestion-menu-item[aria-selected='true'],
.bn-container[data-theming-css-demo] .bn-suggestion-menu-item:hover {
	@apply bg-accent/50 text-secondary-foreground backdrop-blur-md;
}

.bn-container[data-theming-css-demo]
	.bn-suggestion-menu-item[aria-selected='true'] {
	@apply text-foreground/80;
}

.bn-container[data-theming-css-demo] .bn-suggestion-menu {
	@apply bg-sidebar/85 max-h-96 backdrop-blur-2xl;
}

.bn-container[data-theming-css-demo] [data-file-block] .bn-add-file-button {
	@apply bg-secondary-800 hover:bg-secondary-700;
}
.alert {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	border-radius: 4px;
	min-height: 48px;
	padding: 4px;
}

.alert[data-alert-type='warning'] {
	@apply bg-yellow-100;
}

.alert[data-alert-type='error'] {
	@apply bg-red-100;
}

.alert[data-alert-type='info'] {
	@apply bg-blue-100;
}

.alert[data-alert-type='success'] {
	@apply text-green-100;
}

[data-color-scheme='dark'] .alert[data-alert-type='warning'] {
	@apply text-yellow-100;
}

[data-color-scheme='dark'] .alert[data-alert-type='error'] {
	background-color: #802020;
}

[data-color-scheme='dark'] .alert[data-alert-type='info'] {
	background-color: #203380;
}

[data-color-scheme='dark'] .alert[data-alert-type='success'] {
	background-color: #208020;
}

.alert-icon-wrapper {
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 12px;
	margin-right: 12px;
	height: 18px;
	width: 18px;
	user-select: none;
	cursor: pointer;
}

.alert-icon[data-alert-icon-type='warning'] {
	color: #e69819;
}

.alert-icon[data-alert-icon-type='error'] {
	color: #d80d0d;
}

.alert-icon[data-alert-icon-type='info'] {
	color: #507aff;
}

.alert-icon[data-alert-icon-type='success'] {
	color: #0bc10b;
}

.inline-content {
	flex-grow: 1;
}
